<header>
    <h1>Surex Take Home Assignment</h1>
</header>
<article>
    <section>
        <p>
            Welcome to Yeison's solution for the Surex Assignment. All the solutions with views will be listed here.
        </p>
        <nav class="menu">
            <ul>
                <li><a class="nav-element" routerLink="/phones">Canada phone directive</a></li>
                <li><a class="nav-element" routerLink="/watch">Watch directive property</a></li>
            </ul>
        </nav>
        <summary>
            <b>Note:</b> Exercises 2 and 4 are not listed here since the expected result for Exercise 2 should be solved
            in the angularJS version, and Exercise 4 is a test code for a provided controller for the angularJS version.
        </summary>
    </section>
</article>