<header>
    <h1>Surex Take Home Assignment</h1>
</header>
<article>
    <section>
        <p>
            Welcome to Yeison's solution for the Surex Assignment. All the solutions with views will be listed here.
        </p>
        <nav class="menu">
            <ul>
                <li><a class="nav-element" href="/phones">Canada phone directive</a></li>
                <li><a class="nav-element" href="/calls">Multiple nested resource calls</a></li>
            </ul>
        </nav>
        <summary>
            <b>Note:</b> Exercises 3 and 4 are not listed here since the expected result for Exercise 3 should be solved
            in the angular 11 version, and Exercise 4 is a test code for a provided controller.
        </summary>
    </section>
</article>